/*
Pipeline Params
*/
params.outdir = ""
params.samplesheet = ""
params.organism="human"
params.condition_samplesheet = "" // CSV with sample,condition columns (required)
params.blacklist = "" // Blacklist BED file for Genrich (required)
/*
Alignment Params
*/
params.save_index=false
params.reference_fasta="" // Reference FASTA used to build the bowtie2 index when params.bowtie_index is not set
params.bowtie_index = "" // Glob path of bowtie2 index files, or path to folder containing index files (eg. "data/bowtie2_index/*" or "data/bowtie2_index/"). If empty, the index is built from params.reference_fasta
params.do_align = true // whether to perform bowtie2 alignment
params.fragment_size = 2000 // maximum fragment size for paired-end alignment
params.multimap = 10 // number of allowed multiple alignments per read. Multiple alignments are only used for genrich peak calling
/*
ATAC_QC Params
*/
params.style = "ensembl"
params.ah_hub_id = "" // AnnotationHub ID for custom annotation database (optional). Will pull latest for human and mouse if not specified. Mandatory for other organisms.
params.qc_subsample = 100000000 // number of reads to subsample for QC metrics (default: 100 million)
/*
MACS3 Params
*/
params.macs3_genome_size = "hs" // Genome size for MACS3 ('hs' for human, 'mm' for mouse, or a number representing effective genome size)
params.macs3_cutoff_analysis = true // Whether to perform cutoff analysis to help determine p-value/q-value thresholds. You can then set a list of p-value/q-value thresholds to test based on the results.
/*
Peak Caller Params
*/ 
params.p_values = [0.05] // List of p-value thresholds for peak calling
params.q_values = [] // List of q-value thresholds for peak calling
params.frip_qvalue = 0.05 // q-value threshold to use for FRiP calculation if multiple q-values are provided
params.frip_pvalue = 0.05 // p-value threshold to use for FRiP calculation if multiple p-values are provided to use for FRiP calculation if multiple p-values are provided
/*
Consenrich/rocco Params
*/
params.rocco_organism="hg38" // genome for rocco analysis if genome is specified. Can be 'hg38', 'hg19', 'mm10', 'mm39', or 'dm6'
params.rocco_params="" // Params file containing params per chromosome for rocco. Only used if genome not specified.
params.rocco_egs=0 // Effective genome size for Rocco. Only used if genome not specified.
params.rocco_chrom_sizes="" // Chromosome sizes file for Rocco. Only used if genome not specified.
params.rocco_args = "" // Additional cli arguments to pass to Rocco.

