/*
Pipeline Params
*/
params.outdir = ""
params.samplesheet = ""
params.organism="human"
/*
Alignment Params
*/
params.save_index=false
params.fasta=""
params.bowtie_index = "" // Glob path of bowtie2 index files, or path to folder containing index files (eg. "data/bowtie2_index/*" or "data/bowtie2_index/")
params.do_align = true // whether to perform bowtie2 alignment
params.fragment_size = 2000 // maximum fragment size for paired-end alignment
params.multimap = 10 // number of allowed multiple alignments per read. Multiple alignments are only used for genrich peak calling
/*
ATAC_QC Params
*/
params.style = "ensembl"
params.ah_hub_id = "" // AnnotationHub ID for custom annotation database (optional). Will pull latest for human and mouse if not specified. Mandatory for other organisms.
params.qc_subsample = 100000000 // number of reads to subsample for QC metrics (default: 100 million)
/*
MACS3 Params
*/
params.macs3_genome_size = "hs" // Genome size for MACS3 ('hs' for human, 'mm' for mouse, or a number representing effective genome size)
params.macs3_cutoff_analysis = true // Whether to perform cutoff analysis to help determine p-value/q-value thresholds. You can then set a list of p-value/q-value thresholds to test based on the results.
params.macs3_p_values = [] // List of p-value thresholds for MACS3 peak calling
params.macs3_q_values = [] // List of q-value thresholds for MACS3 peak calling
