/*
Pipeline Params
*/
params.outdir = ""
params.samplesheet = ""
params.organism="human"
/*
Alignment Params
*/
params.save_index=false
params.fasta=""
params.bowtie_index = "" // Glob path of bowtie2 index files, or path to folder containing index files (eg. "data/bowtie2_index/*" or "data/bowtie2_index/")
params.do_align = true // whether to perform bowtie2 alignment
params.fragment_size = 2000 // maximum fragment size for paired-end alignment
params.multimap = 10 // number of allowed multiple alignments per read. Multiple alignments are only used for genrich peak calling
params.style = "ensembl"
params.ah_hub_id = "" // AnnotationHub ID for custom annotation database (optional). Will pull latest for human and mouse if not specified. Mandatory for other organisms.