/*
Pipeline Params
*/
params.outdir = "../scratch/"
params.samplesheet = "test_samplesheet.csv"
params.organism="human"
params.save_index = false
/*
Alignment Params
*/
params.reference_fasta = "test.fasta"
params.condition_samplesheet = "test_condition_samplesheet.csv"
params.blacklist = "placeholder_blacklist.bed"
params.macs3_cutoff_analysis = true
params.pvalues = [0.5,0.1,0.05,0.01,0.001]
params.qvalues = [0.5,0.1,0.05,0.01,0.001]
params.bowtie_index = "" // Glob path of bowtie2 index files, or path to folder containing index files (eg. "data/bowtie2_index/*" or "data/bowtie2_index/")
params.do_align = true // whether to perform bowtie2 alignment
params.fragment_size = 2000 // maximum fragment size for paired-end alignment
params.multimap = 10 // number of allowed multiple alignments per read. Multiple alignments are only used for genrich peak calling
params.subsample = 60000000 // number of reads to subsample for peak calling
process {
    cpus = 1
    memory = '1.GB'
    
    // Override all process memory settings for stub testing
    withName: '.*' {
        memory = '1.GB'
        cpus=1
    }
}