/*
Pipeline Params
*/
params.outdir = "../scratch/"
params.samplesheet = "test_files/test_samplesheet.csv"
params.organism="human"
params.save_index = false
/*
Alignment Params
*/
params.reference_fasta = ""
params.bowtie_index = "" // Glob path of bowtie2 index files, or path to folder containing index files (eg. "data/bowtie2_index/*" or "data/bowtie2_index/")
params.do_align = true // whether to perform bowtie2 alignment
params.fragment_size = 2000 // maximum fragment size for paired-end alignment
params.multimap = 10 // number of allowed multiple alignments per read. Multiple alignments are only used for genrich peak calling
